body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.field-grid {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(18, 18px);
  grid-auto-rows: 18px;
}

.square {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1rem;
  border: none;
  background-color: lightgray;

  transition: border-radius, background-color;
}

.square:hover {
  background-color: rgb(196, 196, 196);
  border-radius: 4px;
}

.square:active {
  background-color: black;
}
