/* Variables */

:root {
  --body-bg: #f1f1f1;
  --text-color: #121212;
  --link-color: #00B7FF;
  --square-bg: #cacaca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #121212;
    --text-color: #dedede;
  }
}

/* Elements */

body {
  background-color: var(--body-bg);
  color: var(--text-color);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 90%;
  padding: 30px 0;
}

a {
  color: var(--link-color);
}

/* Classes */

.field-grid {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(var(--column-count), 24px);
  grid-auto-rows: 24px;
  justify-content: center;
}

@media (min-width: 900px) {
  .field-grid {
    justify-content: start;
  }
}

.square {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1rem;
  padding: 1px;
  border: none;
  background-color: var(--square-bg);
  transition: border-radius, background-color;
}

.square:not(.square--opened):hover {
  background-color: rgb(196, 196, 196);
  border-radius: 4px;
}

.square:active {
  background-color: var(--body-bg);
}

.square--opened {
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-color);
  border: solid 1px var(--square-bg);
}
