/* Variables */

:root {
  --body-bg: #f1f1f1;
  --text-color: #121212;
  --link-color: #00B7FF;
  --square-bg: #cacaca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #121212;
    --text-color: #dedede;
  }
}

/* Elements */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

/* Classes */

.field-grid {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(18, 21px);
  grid-auto-rows: 21px;
}

.square {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1px;
  border: none;
  background-color: var(--square-bg);
  transition: border-radius, background-color;
}

.square:not(.square--opened):hover {
  background-color: rgb(196, 196, 196);
  border-radius: 4px;
}

.square:active {
  background-color: black;
}

.square--opened {
  border-radius: 4px;
  background-color: transparent;
  border: solid 1px var(--square-bg);
}
