{{template "page_header.html" .}}

<h2>Gameplay description</h2>

<p>
    In normal minesweeper, when you select a square, you get to see how many
    mines are in the surrounding squares. In Multi-Minesweeper, you don't get
    to see that number until after all of your teammates have also acted on that
    square.
</p>
<p>
    You're all playing together to try to reveal the field, but your minefields
    are different. Each player's mines are in different locations.
</p>

{{template "page_footer.html" .}}
