{{define "summarize_players"}}
{{- /* https://stackoverflow.com/a/21305933/1076188 */ -}}
{{range $i, $player := .Players}}
{{- if $i}},{{end}}
{{if .Name}}{{.Name}}{{else}}{{.PlayerId}}{{end -}}
{{else}}0 players{{end}}
{{end}}

<h2 class="f5">Active game rooms:</h2>
<ul class="max-height-half-viewport overflow-auto">
    {{range .games}}
    <li>Game <a href="/game/{{.GameId}}" class="white">{{.GameId}}</a> with {{template "summarize_players" .}}</li>
    {{end}}
</ul>
{{if not .games}}
<p>No games available.</p>
{{end}}

<form action="/game" method="POST">
    <button type="submit">Start new game</button>
</form>
