<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>

    <link rel="stylesheet" href="/static/modern-normalize.css">
    <link rel="stylesheet" href="/static/tachyons.min.css">
</head>

<body class="bg-navy white sans-serif ma3">
    <div class="measure-wide">
        <h1 class="f2 i">
            <a href="/" class="white no-underline underline-hover">Multi-Minesweeper</a>
        </h1>
        <p class="measure-narrow">
            A multiplayer game of Minesweeper.
        </p>
