{{template "page_header.html" .}}

{{if not .game}}

<p>Sorry, that game could not be found.</p>

{{template "list_games.html" .}}

{{else}}

{{$yourField := index .game.Fields .player_id}}
<p>Playing Game {{.game.GameId}}</p>

<div class="grid-minefield">
    {{range $yourField.Squares}}
    {{range .}}
    <button class="
        dib
        white bg-dark-blue
        w2 h2
        f3 tc
        bn
        overflow-hidden
        ">{{.Coordinates.X}},{{.Coordinates.Y}}</button>
    {{end}}
    {{end}}
</div>

{{end}}

{{template "page_footer.html" .}}
