<div
    data-controller="button"
    data-action="contextmenu->button#setFlag">
    <button
        type="submit"
        class="
        dib
        {{if .IsOpened}}bg-dark-blue{{else}}bg-blue{{end}}
        {{if and .IsMine .IsRevealed}}red{{else if .IsFlagged}}yellow{{else}}white{{end}}
        w2 h2
        f3 tc
        bn
        overflow-hidden
        "
        name="player_action"
        value="open">
        {{if .IsFlagged}}⚠︎
        {{else if and .IsMine .IsOpened}}☠︎
        {{else if .IsRevealed}}{{.NumberOfMinesSurrounding}}
        {{end}}
    </button>

    <button
        type="submit"
        name="player_action"
        value="toggle_flag"
        class="dn"
        data-button-target="flagSubmit">
        Flag the square
    </button>

</div>
