{{template "page_header.html" .}}

{{if not .game}}

<p class="i mv5">Sorry, that game could not be found.</p>

{{template "list_games.html" .}}

{{else}}

{{$yourField := index .game.Fields .player.PlayerId}}
<turbo-frame id="show_game">
<p>Playing Game {{.game.GameId}} - <button data-controller="refresher">Reload</button></p>
<p class="f6">Work together in the same area of the minefield to reveal information to everyone.</p>

<div class="minefield-grid-9x16">
    {{range $yourField.Squares}}
    {{range .}}
    <form action="/game/{{$.game.GameId}}/player_action" method="POST">
        {{template "show_square.html" .}}
        <input type="hidden" name="x" value="{{.Coordinates.X}}">
        <input type="hidden" name="y" value="{{.Coordinates.Y}}">
    </form>
    {{end}}
    {{end}}
</div>
</turbo-frame>

{{end}}

{{template "page_footer.html" .}}
